/* -*- mode: css; -*- */
configuration {
  icon-theme:       "Papirus-Dark";
  cycle:            true;
  disable-history:  false;

  /* Vim-esque C-j/C-k as up/down in rofi */
  kb-accept-entry: "Return,Control+m,KP_Enter";
  kb-row-down: "Down,Control+n,Control+j";
  kb-remove-to-eol: "";
  kb-row-up: "Up,Control+p,Control+k";
}

@theme "theme/dracula.rasi"